<h2>Dodaj kontakt</h2>
<br>
<h5>Rodzaj kontaktu</h5>
<br>
<form (ngSubmit)="onSubmit()"  class="mat-form-field-appearance-legacy" >
<mat-radio-group aria-label="Select an option" >

  <mat-radio-button value="person" checked (click)="isShow='PERSON'">Osoba fizyczna</mat-radio-button>
  <mat-radio-button value="company" (click)="isShow='COMPANY'">Firma</mat-radio-button>
</mat-radio-group>

<div class="example-container">
  <app-person-general-informations #person *ngIf="isShow == 'PERSON'" ></app-person-general-informations>
  <app-company-general-informations #company *ngIf="isShow == 'COMPANY'"></app-company-general-informations>
  <app-base-information #baseInformation></app-base-information>

  <app-address #address></app-address>
  <app-way-of-obtaining #wayOfObtainingComponent></app-way-of-obtaining>
  <router-outlet></router-outlet>
</div>
  <div id="submit">
    <button type="submit" class="btn btn-outline-success" (click)="save()">Zapisz</button>
  </div>
</form>
