.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 400px;
}

h2{
  text-align: center;
}
